{% extends '_base.html' %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ COPY.post_metadata.title|smarty }}</h1>
                <h2>{{ COPY.post_metadata.description|smarty }}</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<h1>{{ COPY.post_metadata.title }}</h1>

<div id="story-meta">
    <p class="byline">by <span>{{ COPY.post_metadata.author }}</span></p>
    <p class="dateblock">
        <span class="date">{{ COPY.post_metadata.publish_date }}</span>
        <!--<span class="time"> {{ COPY.content.pubtime }}</span>-->
    </p>
</div>

<a class="comment-button comment-button-bubble comment-drawer-toggle" href="javascript:">
    <span class="comment-count"></span>
</a>

<a class="comment-button comment-button-article comment-drawer-toggle" data-toggle="modal" data-backdrop="static" data-target="#share-modal">
    <span class="comment-count"></span>
    <span class="comment-label">Share / Discuss</span>
</a>

<h2 class="knockout-example">Example COPY list</h2>
<dl>
    {% for row in COPY.content %}
    <dt>{{ row.id }}</dt><dd>{{ row.text1 }}</dd>
    {% endfor %}
</dl>

<h2 class="knockout-example">JST example</h2>
<p id="template-example"></p>
{% endblock %}


{% block wide_content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="knockout-example">{{ COPY.content.footer_title }}</h2>
        <p>{{ COPY.content.lorem_ipsum }}</p>
    </div>
</div>
{% endblock %}